<!DOCTYPE html>
<html lang="ja">
    <head>
         <meta charset="UTF-8">
         <title></title>
    </head>
    <body>
        <h2><%= @band.name%></h2>
       
		<% @setlists.each do |setlist| %>
		<p>
		<a href="/<%= @band.uid%>/setlist/<%= setlist.id%>/audience">
		<%= setlist.date %>
		</a>
		</p>
		<% end %>
    </body>
</html>