<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>バンド記録サイト</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/font.js"></script>
  </head>
  <body>
    <div>
      <h1>sign in<h1>
      <form action="/sign_in" method="post">
        <input type="text" name="band_name" placeholder="band_name">
        <input type="text" name="band_uid" placeholder="band_uid">
        <!--<input type="submit" value="追加" class="form-button">-->
        <br>
        <button type="submit" class="form-button">sign in</button>
      </form>
		</div>
  </body>
</html>